<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLdLALz9Cwkce2AqJoI0-b3M9ESWmGAG8</string>
	<key>GCM_SENDER_ID</key>
	<string>73112639542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.helpanonymousapp</string>
	<key>PROJECT_ID</key>
	<string>help-anonymous-app</string>
	<key>STORAGE_BUCKET</key>
	<string>help-anonymous-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73112639542:ios:4c2c872be2fc7ccd1de097</string>
</dict>
</plist>